<!DOCTYPE html>
<html>

<head>
    <!-- require APlayer -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
    <script src="https://src.wangriyu.wang/lib/Aplayer/APlayer.min.js"></script>
    <!-- require MetingJS -->
    <script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
</head>

<body>
    <div class="demo">
        <div id="player1">
        </div>
    </div>
    <script>
        var ap = new APlayer
            ({
                element: document.getElementById('player1'),
                fixed: true,
                autoplay: false,
                mini: true,
                theme: '#63b8fd',
                loop: 'all',
                order: 'random',
                preload: 'auto',
                volume: 0.7,
                mutex: true,
                listFolded: false,
                listMaxHeight: 90,
                lrcType: 0,
                music:
                    [
                        {
                            artist: '桜高軽音部',
                            name: 'ふわふわ時間',
                            url: 'https://mrbruce516blog.oss-cn-shanghai.aliyuncs.com/music/%E3%81%B5%E3%82%8F%E3%81%B5%E3%82%8F%E6%99%82%E9%96%93.mp3',
                            cover: 'https://mrbruce516blog.oss-cn-shanghai.aliyuncs.com/img/109951163559682176.jpg',
                        },
                        {
                            artist: '放課後ティータイム',
                            name: 'U&I',
                            url: 'https://mrbruce516blog.oss-cn-shanghai.aliyuncs.com/music/U%26I.m4a',
                            cover: 'https://mrbruce516blog.oss-cn-shanghai.aliyuncs.com/img/109951163048673023.jpg',
                        },
                        {
                            artist: 'スネオヘアー',
                            name: '無くした日々にさよなら',
                            url: 'https://mrbruce516blog.oss-cn-shanghai.aliyuncs.com/music/%E7%84%A1%E3%81%8F%E3%81%97%E3%81%9F%E6%97%A5%E3%80%85%E3%81%AB%E3%81%95%E3%82%88%E3%81%AA%E3%82%89.mp3',
                            cover: 'https://mrbruce516blog.oss-cn-shanghai.aliyuncs.com/img/1378787586466255.jpg',
                        },
                        {
                            artist: '今日から俺は!!',
                            name: '男の勲章',
                            url: 'https://mrbruce516blog.oss-cn-shanghai.aliyuncs.com/music/%E4%BB%8A%E6%97%A5%E3%81%8B%E3%82%89%E4%BF%BA%E3%81%AF%21%21%E4%B8%BB%E9%A1%8C%E6%AD%8C%E3%80%8C%E7%94%B7%E3%81%AE%E5%8B%B2%E7%AB%A0%E3%80%8D%E3%83%95%E3%83%AB%E3%82%B5%E3%82%A4%E3%82%B9%E3%82%99.m4a',
                            cover: 'https://mrbruce516blog.oss-cn-shanghai.aliyuncs.com/img/c6481c90eece4f6faddf1349fe265267.jpeg',
                        },
                    ]
                    
        });
        //ap.init();
    </script>
</body>